@{
    ViewData["Title"] = "C# Page";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h2>Free Resources Column</h2>

            <h5>
                1.Microsoft Learn: C# - Microsoft's official learning platform provides a comprehensive C# learning path with interactive modules and exercises.
                <a href="https://docs.microsoft.com/en-us/learn/paths/csharp-first-steps/">Link for a site.</a>
            </h5>

            <h5>
                2.SoloLearn: Provides bite-sized programming lessons and coding challenges for various languages through their mobile app.
                <a href="https://www.sololearn.com/">Link for a site.</a>
            </h5>

            <h5>
                3.Youtube: Programming with Mosh, Provides with a huge list of C# tutorial for beginners.
                <a href="https://www.youtube.com/watch?v=gfkTfcpWqAY&list=PLTjRvDozrdlz3_FPXwb6lX_HoGXa09Yef">Link for a video.</a>
            </h5>

            <h5>
                4.Youtube: freeCodeCamp.org, Provides with a long 4 hour and 31 minutes a C# tutorial video for beginners.
                <a href="https://www.youtube.com/watch?v=GhQdlIFylQ8">Link for a video.</a>
            </h5>

            <h5>
                5.freeCodeCamp.org, Provides a free platform for studying programming.
                <a href="https://www.freecodecamp.org/">Link for a site.</a>
            </h5>

        </div>
        <div class="col">
            <h2>Paid Resources Column</h2>

            <h5>
                1.Beetroot Academy: They have a really good courses, they can teach you from absolute begginer to a great programmer.
                <a href="https://beetrootacademy.com/">Link for site.</a>
            </h5>

            <h5>
                2.Pluralsight: Develop critical tech skills. A not very expensive, you can have a free trial and you get access to everything. 
                <a href="https://www.pluralsight.com/paths/c-10">Link for a site.</a>
            </h5>

            <h5>
                3.Udemy: Platform with video courses, sometimes can be very expensive.
                <a href="https://www.udemy.com/">Link for a site.</a>
            </h5>

            <h5>
                4.Coursera: A high-quality content
                <a href="https://www.coursera.org/">Link for site.</a>
            </h5>


        </div>

        <div class="d-grid gap-2 d-md-block">
            <h4>Do you have anything to add?</h4>
            <a asp-controller="ProgPageInfo" asp-action="AddContent" class="text-pos">
                <button class="btn btn-primary">Add it here now!</button>
            </a>
        </div>


    </div>
</div>
