@{
    ViewData["Title"] = "HTML Page";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h2>Free Resources Column</h2>

            <h5>
                1.Mozilla Developer Network (MDN): - MDN offers comprehensive documentation on HTML, including tutorials, guides, and reference materials.
                <a href=" https://developer.mozilla.org/en-US/docs/Web/HTML">Link for a site.</a>
            </h5>

            <h5>
                2.SoloLearn: Provides bite-sized programming lessons and coding challenges for various languages through their mobile app.
                <a href="https://www.sololearn.com/">Link for a site.</a>
            </h5>

            <h5>
                3.Youtube: freeCodeCamp.org, Provide with a wery long tutorial video for beginners.
                <a href="https://www.youtube.com/watch?v=a_iQb1lnAEQ">Link for a video.</a>
            </h5>

            <h5>
                4.freeCodeCamp.org, Provides a free platform for studying programming.
                <a href="https://www.freecodecamp.org/">Link for a site.</a>
            </h5>

            <h5>
                5.HTML Dog, Provides beginner-friendly HTML tutorials, including lessons on HTML5 and CSS.
                <a href=" https://www.htmldog.com/guides/html/">Link for a site.</a>
            </h5>

        </div>

        <div class="col">
            <h2>Paid Resources Column</h2>

            <h5>
                1.Pluralsight: Develop critical tech skills. A not very expensive, you can have a free trial and you get access to everything.
                <a href="https://www.pluralsight.com/paths/c-10">Link for a site.</a>
            </h5>

            <h5>
                2.Udemy: Platform with video courses, sometimes can be very expensive.
                <a href="https://www.udemy.com/">Link for a site.</a>
            </h5>

            <h5>
                3.Coursera: A high-quality content.
                <a href="https://www.coursera.org/">Link for site.</a>
            </h5>


        </div>

        <div class="d-grid gap-2 d-md-block">
            <h4>Do you have anything to add?</h4>
            <a asp-controller="#" asp-action="#" class="text-pos">
                <button class="btn btn-primary">Add it here now!</button>
            </a>
        </div>
       
    </div>

</div>
