@{
    ViewData["Title"] = "2D Graphic";
}

<!--Page about 3D modelling-->
<h1>Wellcome Into 2D Graphic Page!</h1>
<h3>Everythin is splited for beginners and andvance resouces.</h3>

<div class="row">
    <div class="col-4">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="list-item-1">Absolute beginners</a>
            <a class="list-group-item list-group-item-action" href="list-item-2">Beginners</a>
            <a class="list-group-item list-group-item-action" href="list-item-3">Middle</a>
            <a class="list-group-item list-group-item-action" href="list-item-4">Seniors</a>
        </div>
    </div>
    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Absolute beginners</h4>
            <p>The first section is for absolute beginners.</p>
            <h4 id="list-item-2">Beginners</h4>
            <p>The second section is for beginners.</p>
            <h4 id="list-item-3">Middle</h4>
            <p>The third section is for middle.</p>
            <h4 id="list-item-4">Seniors</h4>
            <p>The fourth section is for seniors</p>
        </div>
    </div>
</div>