html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #99ddff; 
    margin-bottom: 60px;
}

/*Sing up*/
.logo-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Table design*/
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 1000px;
    /*outline: none;*/
    /*border: none;*/
    padding: 0 70px;
    padding-right: 10px;

    font-size: 16px;
    font-weight: 100;
}

.form-text {
    font-size: 16px;
    font-weight: 100;
    padding: 100px;
}

.user-pic {
    width: 50px;
    margin-right: 16px;
    margin-left: 16px;
    display: flex;
}

.icons {
    width: 50px;
    margin-right: 16px;
    margin-left: 16px;
    display: flex;
}

.icons-pos {
    height: 50px;
    display: flex;
    margin-right: 15px;
    margin-left: 1px;
    justify-content: center;
    align-items: center;
}

.text-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 10px;
}

.contact-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 70px;
}