@{
    ViewData["Title"] = "Programming Page";
}

<!--Page about Programming-->
<h1>Wellcome Into Programming Page!</h1>
<h3>Here, is the most popular languages to learn! </h3>

<div class="row">
    <div class="col-4">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="list-item-c#">C#</a>
            <a class="list-group-item list-group-item-action" href="list-item-java">Java</a>
            <a class="list-group-item list-group-item-action" href="list-item-html">HTML</a>
            <a class="list-group-item list-group-item-action" href="list-item-sql">SQL</a>
            <a class="list-group-item list-group-item-action" href="list-item-python">Python</a>
        </div>
    </div>
    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-c#">C#</h4>
            <p>This section is dedicated to the C# programming language and the .NET platform.</p>
            <h4 id="list-item-java">Java</h4>
            <p>This section focuses on the Java programming language and all related technologies.</p>
            <h4 id="list-item-html">HTML</h4>
            <p>This section focuses on the HTML programming language.</p>
            <h4 id="list-item-python">Python</h4>
            <p>This section focuses on the Python programming language and all related technologies.</p>
            <h4 id="list-item-sql">SQL</h4>
            <p>This section is about relational database management systems and how to work with them.</p>
        </div>
    </div>
</div>