@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<div class="text-center">
    <h1 class="display-4">BitLink</h1>
    <h5>Place, where you can find, share, learn everything about IT!</h5>

    <div class="d-grid gap-2 d-md-block">
        <a asp-controller="Home" asp-action="MainPage" class="text-pos">
            <button class="btn btn-primary">So, let's get started?</button>
        </a>
    </div>

    <!--About-->
    <h1 class="text-pos">What about this site?</h1>
    <h5 class="">
        This is a social network where programmers, 3D-2D artists, 
        enthusiasts and anyone interested in the IT industry from all over the world can share their tips, 
        links to websites and expert articles. Join our active community, share your knowledge, 
        advice and explore the latest trends in the IT world. Together we are building the future of technology!
    </h5>

    <!--Contacts-->
    <h1 class="contact-pos">Contact Me!</h1>
    <p class="icons-pos">
        <img src="img/Email.png" class="icons">
        <span>Email: </span>
        <a href="mailto:moonlight312004@gmail.com">moonlight312004@gmail.com</a>
    </p>

    <p class="icons-pos">
        <img src="img/Facebook.png" class="icons">
        <span>Facebook: </span>
        <a href="#">My Facebook</a>
    </p>

    <p class="icons-pos">
        <img src="img/LinkedIn.png" class="icons">
        <span>LinkedInl: </span>
        <a href="#"> My LinkedIn</a>
    </p>

</div>


