@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BitLink</h1>
    <p>Place, where you can find, share, learn everything about IT and not only!</p>
</div>

<div class="d-grid gap-2 d-md-block">
    <a asp-controller="Home" asp-action="MainPage">
        <button class="btn btn-primary">So, let's get started?</button>
    </a>
</div>


