@{
    ViewData["Title"] = "Main Page";
}

<div>
    <h1 class="display-4">So, what's are we going to do today!?</h1>
   
    <h5>
        <a href="ProgPage">Programming Tutorials</a>
    </h5>

    <h5>
        <a href="#">3D Modelling-Animation Tutorials</a>
    </h5>

    <h5>
        <a href="#">2D Graphic-Animation Tutorials</a>
    </h5>

    <h5>
        <a href="#">IT News</a>
    </h5>

    <h5>
        <a href="#">IT Post</a>
    </h5>

</div>