@using BitLink.Dao;
@model Person

@{
    ViewData["Title"] = "Sing up";
}

<h2 class="logo-container">Sing up</h2>
<form asp-action="Registration" method="post" class="container">
    <div class="form-content">
        <label for="fname" class="form-text"></label><br>
        <input asp-for="FirstName" placeholder="Enter Your First Name" type="fname" id="fname" class="form-content" aria-labelledby="fname" required></input>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-content">
        <label for="fname" class="form-text"></label><br>
        <input asp-for="LastName" placeholder="Enter Your Last Name" type="lname" id="lname" class="form-content" aria-labelledby="lname" required></input>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-content">
        <lable for="uname" class="form-text"></lable><br>
        <input asp-for="Username" placeholder="Write your creative Username" type="uname" id="uname" class="form-content" aria-labelledby="uname" required></input>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-content">
        <label for="age" class="form-text"></label>
        <input asp-for="Age" placeholder="Your Age" type="age" id="age" class="form-content" aria-labelledby="age" required></input>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-content">
        <lable asp-for="gender" class="form-text"></lable>
        <select asp-for="Gender" class="form-content">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-content">
        <lable for="password" class="form-text"></lable>
        <input asp-for="Password" placeholder="Enter your Password" type="password" id="password" class="form-content" aria-labelledby="password" required></input>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="button-container">
        <button class="btn btn-primary" type="submit">Sing Up!</button>
    </div>

    <div class="logo-container">
        Already have an account?
        <a href="Login">Login now!</a>
    </div>


</form>